const APP_ID = "";
const TABLE_ID = "";
const API_KEY = "";

const VERSION_TABLE_URL = "https://hipacloud.com/apps/61246bbeb74fa7ca113500cb/tables/61357f137c852d44c4e9248d";

module.exports = {
  APP_ID,
  TABLE_ID,
  API_KEY,
  VERSION_TABLE_URL,
};
